# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/

# my folder
# audio_library/
archive/
src/.prototype
.vscode/settings.json
other/

# my files
.DS_Store
podcast.code*
tests/SECD*
TODO.txt
.env
fonderie_env.zsh

src/gui/.server_credentials.json

# only temporary
src/podcasttool/create_audio_library.py
send_separately

