[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
autopep8 = "*"
doc8 = "*"
sphinx = "*"
flake8 = "*"
pyinstaller = "*"
rope = "*"
pylint = "*"
pydocstyle = "*"
pipenv-to-requirements = "*"
v = {editable = true,version = "*"}

[packages]
pydub = "*"
yattag = "*"
regex = "*"
pyperclip = "*"
pillow = "*"
gtts = "*"
tinytag = "*"
python-dotenv = "*"
py2app = "*"

[requires]
python_version = "3.7"
